* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
    margin: 8px;
}

nav ul a {
    border: 2px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 5px;
}

nav ul a:hover {
    border: 2px solid white;
    color: white;
    border-radius: 10%;
}

li {
    list-style: none;
}

.logo h1 a {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
}

.problems-container {
    margin: 5px 20px;
}

.head-row {
    background: rgb(189, 185, 185);
}

table {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.container h1{
    margin-left: 40%;
}

.sort-search {
    display: flex;
    padding: 12px;
    margin: 2% 0 0 10%;
}

.sort-label {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    padding: 8px 4px 0 0;
}

#sort-by {
    margin: 0 36px 0 4px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

.search-container {
    display: flex;
    align-items: center;
}

#search {
    background-color: rgb(106, 106, 106); 
    color: #fff; 
    padding: 10px 20px; 
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#search:hover {
    background-color: #333;
}

.container-account {
    background-color: black;
    color: white;
    margin: 20vh auto;
    height: 370px;
    width: 220px;
    padding: 24px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.container-account input {
    background-color: black;
    color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    padding: 6px;
    margin: 8px;
    width: 200px;
}

.container-account input:hover {
    border: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: background-color 0.3s;
}

.container-account button {
    margin: 8px;
    position: absolute;
    padding: 6px;
    background-color: black;
    color: #ccc;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    left: 25%;
}

.container-account button:hover {
    border: 2px solid white;
    color: white;
    transition: background-color 0.3s;
}

.container-account label {
    margin: 8px;
    font-size: 18px;
}